*{
	margin:0;
	padding: 0;
}

body{
	-webkit-font-smoothing: antialiased;
    font: 12px/1.5 Microsoft YaHei,tahoma,arial,Hiragino Sans GB,\\5b8b\4f53,sans-serif;
    color: #666;
    background-color: #f6f6f6;
}
img{
	border: none;
	outline: none;
}
i,em{
	display: block;
	font-style: normal;
}
.w{
	margin: auto;
    width: 1190px
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.fs{
	position: relative;
	z-index: 9;
	background: url(../Images/bj.png) no-repeat 50% 0;	
}
ul li{
	list-style: none;
}
i{
	font-style: normal;
	display: inline-block;
}
a{
	display: inline-block;
	text-decoration: none;
}
em{
	display: inline-block;
}
.clear{
	clear: both;
}
/*边框、外边距0*/
.borderLeft{
	border-left: none!important;
}
.borderTop{
	border-top: none!important;
}
.borderRight{
	border-right: none!important;
}
.borderBottom{
	border-bottom: none!important;
}
.marginLeft{
	margin-left: 0px!important;
}
.marginTop{
	margin-top: 0px!important;
}
.marginRight{
	margin-right: 0px!important;
}
.marginBottom{
	margin-bottom: 0px!important;
}
/*End*/
/*End*/
/*浮动float*/
.fl_left{
	float: left;
}
.fl_right{
	float: right;
}
.clear{
	clear: both;
}
/*End*/
/*透明度为0*/
.opac{
	opacity: 0;
	-weikit-opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0);
}
.j-event{
	position: relative;
	background: #373ec3;
	z-index: 30;
}
.grid-c1{
	width: 1190px;
	margin:0 auto;
	position: relative;
}
.grid-c1 > a{
	width:100%;
	height: 80px;
	display: block;
	background: url(../Images/header.jpg) no-repeat 50% 0;;
}
.grid-c1 > .iconfont{
	position: absolute;
	top: 5px;
	right: 5px;
	font-weight: bold;
	font-size: 14px;
	width: 20px;
	line-height: 20px;
	opacity: .3;
	color: #fff;
	text-align: center;
	background: rgb(45,45,45);
	cursor: pointer;
	font-family: iconfont;
    font-style: normal;
    -webkit-text-stroke-width: .2px;
}
.shortcut{
	height: 30px;
	background-color: #e3e4e5;
	border-bottom: 1px solid #ddd;
}
.shortcut .w{
	height: 30px;
	line-height: 30px;
	color: #999;
}
.shortcut li{
	position: relative;
	float: left;
}
/*左上角的位置start*/
.dropdown .cw-icon{
	display: block;
	width: 47px;
	padding-left: 19px;
	text-align: center;
	border: 1px solid #e3e4e5;
	border-bottom: none;
	background: url(../Images/JDstDW-bg01.png);
	cursor: text;	
}
.shortcut li.dropdown:hover .cw-icon{	
	position: relative;
	z-index: 800;	
	border: 1px solid #ccc;
	border-bottom: 1px solid #fff;
 	background:url(../Images/JDstDW-bg02.png);
}
.shortcut li.dropdown:hover .dropdown-wz{
	display: block;
}
.dropdown{
	margin-left: 200px;
	position: relative;
    z-index: 21;
}
.cw-icon{
	height: 29px;
	line-height: 29px;
	overflow: hidden;
	position: relative;
}
.dropdown-wz{
	display: none;
	width: 300px;
	padding: 10px 20px;
	background: #fff;
	border: 1px solid #ccc;
	position: absolute;
	left: 0px;
	top: 30px;
	z-index: 600;
}
.dropdown-wz p span{
	display: inline-block;
	width: 60px;
	cursor: pointer;
	text-align: center;	
}
.dropdown-wz p span.cur{
	background: #F10215;
	color: #fff;
}
/*左上角的位置end*/
.mycity .iconfont {
    font-size: 14px;
    color: #f10215;
}
.shortcut a{
	color: #999;
	font-family: verdana\,simsun;
}
.shortcut .style-red,.header .style-red{
	color: #f10215;
}
.shortcut li.spacer{
	overflow: hidden;
    margin: 11px 5px 0;
    width: 1px;
    height: 10px;
    background-color: #ccc;
}
.shortcut li a:hover{
	color: #F10214;
}
.dt{
	padding-left: 7px;
	padding-right: 7px;
}
.shortcut .icon{
	height: 28px;
	line-height: 28px;
	padding-right: 20px!important;
}
/*我的京东下拉start*/
.dwl{	
	z-index: 200;
	background: #fff;
	border: 1px solid #ccc;	
	padding: 5px 0;	
	display: none;
}
.dorpdown-layer{	
	width: 250px;	
	position: absolute;
	top: 30px;
	left: 0;
}
.dorpdown-layer p{
	padding: 0 10px;	
}
.dorpdown-layer a{
	display: inline-block;
	width: 100px;
}
.dorpdown-layer a:hover{
	color: #F10215;
}
.dorpdown-layer span{
	display: block;
	position: absolute;
	left: 0;
	width: 250px;
	height: 1px;
	background: #DFE0E1;
	box-sizing: border-box;
}
.icon{
	border: 1px solid #e3e4e5;
}
.dwl-h:hover .icon{
	background: #fff;
	color: #F10214;
	height: 31px;
	border: 1px solid #ccc;
	border-bottom: none;
	position: relative;
	z-index: 800;
}
.dwl-h:hover .dwl{
	display: block;
}
/*我的京东下拉end*/
/*客户服务下拉start*/
.dorpdown-serv{
	width: 150px;
	position: absolute;
	top: 30px;
	right: 0;
	padding: 10px;
}
.dorpdown-serv a{
	display: inline-block;
	width: 75px;
}
/*客户服务下拉end*/
/*网页导航下拉start*/
.dorpdown-nav{
	width: 1105px;
	height: 150px;
	position: absolute;
	right: -30px;
	top: 30px;
	padding: 15px;
}
.dorpdown-nav > ul > li{
	width: 260px;
	height: 150px;
	float: left;
	border-right: 1px solid #ddd;
}
/*网页导航下拉start*/
/*手机京东start*/
.mobile_static{
	width: 66px;
	height: 66px;
	position: absolute;
	left: 3px;
	border: 1px solid #cfcfcf;
}
.mobile_static:before,.J_mobile_pop:before{
	content: '';
	display: block;
	position: absolute;
	top: -9px;
	left: 50%;
	width: 0;
	height: 0;
	line-height: 0;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color:#e4e4e4 #e4e4e4 #f6f6f6;	
}
.mobile_static_qrcode{
	margin: 4px auto;
	width: 60px;
	height: 60px;
	background: url(../Images/mobile_qrcode.jpg);
	
}
.J_mobile_pop{
	border: 1px solid #ccc;
	position: absolute;
	right: 0;
	left: auto;
	top: 30px;
	width: 190px;
	height: 150px;
	border: 1px solid #CFCFCF;
	border-bottom: 3px solid #60575a;
}
.J_mobile_pop:before{
	left: 80%;
}
.mobile_txt{
	width: 60px;
	text-align: center;
}
/*手机京东end*/
.logo{
	position: absolute;
	width: 190px;
	height: 170px;
	left: 0;
	top: -31px;
	z-index: 11;
	box-shadow: 0 -12px 10px rgba(0,0,0,.2);
    background-color: #fff;  
}
.logo-img{
	width: 100%;
	height: 100%;
}
.logo_tit_lk{
	width: 190px;
	height: 170px;
	display: block;
	background-image: url(../Images/logo.v2.png);
    background-repeat: no-repeat;
    text-indent: -999px;
}
.header .w{
	position: relative;
	height: 140px;
}
.search .search-m{
	height: 60px;
	position: relative;
	z-index: 1;
}
.search-m .form{
	width:550px;
	height: 35px;
	position: absolute;
	left: 320px;
	top: 25px;
}
.form .text{
	width: 490px;
	height: 25px;
	line-height: 25px;
	padding: 4px;
	font-size: 14px;
	color: #989898;
	border: 1px solid #f10215;
}
.button{
	width: 50px;
	height: 35px;
	line-height: 35px;
	border: none;
	color: #fff;
	position: absolute;
	right: 0;
	cursor: pointer;
	background-color:#f10215;
	font-size: 16px;
	font-weight: bold; 
}
.settleup{
	position: absolute;
	right: 99px;
	top: 25px;
	z-index: 21;
}
.cw-icon{
	overflow: hidden;
    position: relative;
    z-index: 1;
    float: left;
    border: 1px solid #e3e4e5;
}
.settleup .cw-icon{
	width: 188px;
	height: 33px;
	background-color: #fff;
	line-height: 33px;
	text-align: center;
}
.settleup .cw-icon .ci-count{
	position: absolute;
	top: 5px;
	left: 145px;
	right: auto;
	display: inline-block;
	padding: 2px;
	font-size: 12px;
	min-width: 12px;
	line-height: 12px;
	color: #fff;
	background-color: #f10215;
	text-align: center;
	border-radius: 9px;
}

.settleup .cw-icon .iconfont{
	margin-right: 3px;
    font-size: 16px;
    color: #f10214;
}
.settleup .cw-icon a {
    color: #f10214;
}
.hotwords{
	overflow: hidden;
	position: absolute;
	left: 320px;
	top: 65px;
	width: 550px;
	height: 20px;
	line-height: 20px;
}
.hotwords a{
	color: #999;
	float: left;
	margin-right: 10px;
    white-space: nowrap;
}
.treasure{
	width: 190px;
	height: 40px;
	position: absolute;
	right: 0;
	bottom: 10px;
}
.treasure a{
	display: block;
	width: 100%;
	height: 100%;
	background: url(../Images/treasur.gif);
}
/*中间顶部导航start*/
.navitems{
	width:790px;
	height: 40px;
	position: absolute;
	left: 200px;
	bottom: 0;
	overflow: hidden;
}
.navitems li{
	float: left;
	cursor: pointer;
	margin-left: 30px;
}
.navitems li a{
	position: relative;
	color: #555;	
	font-weight: bold;
	font-size: 16px;
	display: block;
	line-height: 40px;
}
.navitems li a:hover{
	color:#D7535D
}
.season-new{
	width: 30px;
	height: 18px;
	position: absolute;
	top: 0;
	left: 47px;
	margin-left: 0;
	vertical-align: middle;
}
/*中间顶部导航end*/
.grid_c1{
	margin:0 auto;
	width: 1190px;
}
.fs_inner{
	position: relative;
	z-index: 1;
	height: 480px;
	background-color: #f6f6f6;	
}
.fs_col1{
	width: 190px;
	height: 100%;
	float: left;
	margin-right: 10px;
}
.fs_col1 ul{
	padding: 15px 0;
	background: #6e6568;
	height: 450px;
}
.fs_col1 li{
	color: #fff;
	height: 30px;
	line-height: 30px;
	padding-left: 12px;
	overflow: hidden;
}
.fs_col1 li span{
	padding: 0 4px;
	font-size: 12px;
}
.fs_col1 li a{
	color: #fff;
	font-size: 14px;
}
.cate_part{
	display: none;
	width: 998px;
	min-height: 478px;
	position: absolute;
	left: 190px;
	top: 0;
	z-index: 20;
	border: 1px solid #f7f7f7;
	background: #f7f7f7;
	box-shadow: 2px 0px 5px rgba(0,0,0,0.3);
	padding: 10px 20px 10px;
}
.fs_col1 > ul > li:hover .cate_part{
	display: block;
}
.cate_part table th{
	background: #6e6568;
	font-weight: normal;	
}
.cate_part table th a{
	color: #fff;
	height: 24px;
	line-height: 24px;
	padding: 0 10px;
	margin-right:10px;
}
.cate_part table span{
	margin-left: 5px;
	font-size: 15px;
}
.cate_part table td{
	text-align: center;
}

.fs_col2{
	width: 790px;
	height: 100%;
	float: left;
}

/*轮播*/
.slider{
    position:relative;
    overflow:hidden;
    width:790px;
    height:340px;
}
.slider ul{
    position:absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;
}
.slider li{
    width:100%;
    float:left;
    position:relative;
    z-index:1;
    height:100%;
}
.slider li img{
    width:100%;
    height:100%;
}
.slider dl{
    position:absolute;
    text-align:center;
    width:100%;
    *width:auto;
    right:0;
    *right:5px;
    bottom:0;
    height:25px;
    z-index:19;
}
.slider dd{
    width:12px;
    height:12px;
    background:#fff;
    cursor:pointer;
    display:inline-block;
    *float:left;
    margin:0 5px;
    overflow:hidden;
    border-radius:50%;
}
.slider dd.cur{
    background:#c40000;
}
.slider-prev,
.slider-next{
    display:block;
    position:absolute;
    width:30px;
    height:60px;
    background-color:rgba(0,0,0,.3);
    background-image:url(../Images/lb/slider.png);
    top:50%;
    margin-top:-30px;
    cursor:pointer;
    z-index:2;
    transition:all .3s ease;
    -moz-transition:all .3s ease;
    -webkit-transition:all .3s ease;
    -o-transition:all .3s ease;
    -ms-transition:all .3s ease;
}
.slider-prev{ left:-40px;background-position:-5px -5px;}
.slider-next{ right:-40px;background-position:-40px -5px;}
/*轮播end*/

.jd-slider-bottom{
	height: 130px;
	margin-top: 10px;
}
.jd-slider-bottom a{
	display: inline-block;
}
.jd-slider-bottom2{
	margin-left: 6px;
}
/*右边个人信息start*/
.fs_col3{
	float: right;
	width: 190px;
    height: 100%;
    background-color: #fff;
    margin-left: 10px;
    background: #fff;
}
.right-top{
	width: 190px;
	box-sizing: border-box;
}
.user{
	height: 50px;
	padding: 15px 0 15px 60px;	
	position: relative;
}
.user-img {
	width: 45px;
	height: 45px;
	position: absolute;
	margin-left: -60px;
}
.user-img img{
	height: 100%;
	display: block;
	border-radius: 23px;
}
.username{
	padding: 0 10px 0 0;
}
.username p{
	letter-spacing: 0.2em;
}
.username a{
	color: #333333;
}
.username a:hover{
	color: #F10215;
}
.jdvip{
	padding: 0 10px;
}
.jdvip a{
	display: inline-block;
	border: 2px solid #F10215;
	padding: 2px 10px;
	color: #F10214;
}
/*右边个人信息end*/
/*右边促销信息start*/
.right-tabs{
	padding: 20px 10px;	
}
#tab{	
	border-top: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	color: #ccc;
}
.right-tabs span{
	padding: 8px 12px;
}
#tab span{
	color: #333333;
	cursor: pointer;
}
#tab a{
	position: absolute;
	right: 20px;
	color: #333333;
}
.tab-content p{
	width: 170px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
/*右边促销信息end*/
/*右边生活服务start*/
.service_entry{
	width: 190px;
	height: 210px;
}
.service_entry li{
	position: relative;
	width: 47px;
	height: 69px;
	float: left;
	text-align: center;
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
}
.service_entry a{
	display: block;
	padding-top: 14px;
	height: 55px;
	color: #333333;
}
.service-icon{
	width: 24px;
	height: 24px;
	background: url(../Images/sprite_fs.png) no-repeat;	
}
.service-iconA1{
	background-position: 0 -88px;
}
.service-iconA2{
	background-position: 0 -44px;
}
.service-iconA3{
	background-position: -46px -87px;
}
.service-iconA4{
	background-position: -87px 3px;
}

.service-iconB1{
	background-position: -87px -46px;
}
.service-iconB2{
	background-position: 0 -2px;
}
.service-iconB3{
	background-position: -46px -44px;
}
.service-iconB4{
	background-position: -90px -87px;
}

.service-iconC1{
	background-position: -133px 0px;
}
.service-iconC2{
	background-position: -133px -44px;
}
.service-iconC3{
	background-position: -133px -87px;
}
.service-iconC4{
	background-position: -47px 0px;
}
.service_entry span{
	height: 22px;
	display: block;
	line-height: 22px;
}
/*右边生活服务end*/



/******右边固定导航********/
.jdm-toolbar-wrap{
	position: fixed;
	right: 0;
	top: 0;
	width: 0;
	z-index:9999;
	height: 100%;
}
.jdm-toolbar{
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	width: 0;
	border-right: 6px solid #7a6e6e;
}
.jdm-toolbar-tabs{
	position: absolute;
    top: 50%;
    left: -29px;
    width: 35px;
    margin-top: -61px;
    height: 200px;
}
.bar{
	width: 35px;
	height: 35px;
	background: #7a6e6e;
	margin-bottom: 1px;
	text-align: center;
	position: relative;
}
/*.returntop{
	width: 62px;
	height: 35px;
	line-height: 35px;
	cursor: pointer;
	background: #7a6e6e;
	position: absolute;
	top: 0;
	z-index: -1000000;
	left: 0px; 
	border-radius: 3px;
}*/
.bar > em,.returntop > em{
	/*opacity: 0;
	-weikit-opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0);*/
	width: 62px;
	height: 35px;
	line-height: 35px;
	cursor: pointer;
	background: #7a6e6e;
	color: #fff;
	position: absolute;
	top: 0;
	z-index: -1000000;
	left: 0px; 
	border-radius: 3px;
   
}
.bar:hover{
	background:#CA1623;
	cursor:pointer;
}
.bar:hover .jdvip{
	/*opacity: 1;
	-weikit-opacity: 1;
	-moz-opacity: 1;
	filter:alpha(opacity=1);*/
	left: -70px;
	background:#CA1623;
	-webkit-transition: left 1s  linear 0s;
	transition: left 1s  linear 0s;
}
.bar-icon{
	width: 22px;
	height: 22px;
	background: url(../Images/logo.png);
	margin-top: 8px;
}
.bar-icon1{
	background-position: -95px -180px;
}
.bar-icon2{
	background-position: -56px -8px;
}
.bar-icon3{
	background-position: -56px -59px;
}
.bar-icon4{
	background-position: -56px -108px;
}
.bar-icon5{
	background-position: -195px -158px;
}
.bar-icon6{
	background-position: -56px -261px;
}
.bar-icon7{
	background-position: -56px -308px;
}

/*京东秒杀*/

.jdms{
	height: 300px;
	margin-top: 10px;	
	margin-bottom: 30px;
}
.jdms-header{
	background: url(../Images/seckill_hd.png) no-repeat;
	position: relative;
	height: 55px;
	line-height: 55px;
    overflow: hidden;
    color: #fff;
}
.jdms-header-left{
	float: left;
	margin-left: 15px;
}
.jdms-header-right{
	float: right;
}
.jdhl-icon{
	width: 35px;
	height: 43px;
	background: url(../Images/sprite_index@1x.png) 0 -43px;
}
.jdhl-icon{
	position: absolute;
	left: 32px;
	top: 10px;
}
.box_tit{
	font-family: fzzhengheis-el-gbregular;
	font-size: 26px;
	font-weight: 400;
	line-height: 40px;
	height: 40px;
	padding-top: 6px;
	display: inline-block;
	margin-left: 60px;
}
.jdms-lower{
	color: #fff;
	font-size: 14px;
	margin-left: 20px;
	position: relative;
}
.jds-lower-icon{
	width: 18px;
	height: 18px;
	background: url(../Images/sprite_index@1x.png) -152px -38px;
	position: absolute;
	top: 0px; 
	right:-22px;
}
.left-top-icon{
    width: 28px;
    height: 28px;
    background: url(../Images/sprite_index@1x.png) -190px -48px;
	position: absolute;
    left: -4px;
    top: -4px;
	background-size: 218px 188px;
}
.jdms-header-right{
	margin-right: 20px;
	font-size: 14px;
	
}
.time{
	width: 35px;
	height: 37px;
	background-color: #440106;
	color: #f90013;
	font-size: 24px;
	font-family: Arial;
	font-weight: 700;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
	line-height: 37px;
	margin-top: 10px;
	padding: 5px;
}
.dot{
	color: #440106;
	font-size: 24px;
	font-family: Arial;
	font-weight: 700;
	display: inline-block;
	margin-left: 4px;
}
.jdms-content-left{
	width: 1000px;
	/*border: 1px solid red;*/
	overflow: hidden;
	float: left;
	position: relative;
}
.jdms-content-left img{
    width: 130px;
    height: 130px;
    margin: 17px 0;
}
.jdms-content .jdms-ul{
	background: #fff;
	display: block;
	overflow: hidden;
	width: 6000px;
}
.jdms-content-left .jdms-li{
	float: left;
    width: 170px;
    height: 225px;
    padding: 0 14px 0 15px;
    border-right: 1px solid #e7e7e7;    
}
.jdms-li:hover .sk_item_pic a img{
	transform: translateY(-5px);
}
.sk_item_pic{
	position: relative;
    text-align: center;
}
.sk_item_shadow{
	width: 170px;
	height: 20px;
	background: url(../Images/sprite_index@1x.png) no-repeat 0 0;
	background-size: 218px 188px;
	position: absolute;	
	left: 0;
	top: 130px;
	text-align: center;
}
.jdms-price-c{
	display: inline-block;
}
.dms-price-c .now-price{
	color: #f10214;
    font-size: 12px;
}
.dms-price-c .origin-price{
	color: #999;
    font-size: 12px;
}
.jdms-price span{
	font-size: 18px;
	font-weight: 800;
	color: #f10214;
}
.jdms-price em{
	display: inline-block;
    color: #999;
    font-size: 12px;
	text-decoration: line-through;
}
.origin-price-c{
	margin-left: 5px;
}
.jdms-content{
	height: 225px;
	padding: 12px 0 13px;
	overflow: hidden;
	background: #fff;
}
.sk_item_pic p{
	display: block;
	color: #999;
	max-width: 100%;
	text-align: left;
	overflow: hidden;
	font-size: 12px;
	height: 32px;
	line-height: 16px;
	word-break: break-all;
	word-wrap: break-word;
}
.jdms-pre,.jdms-next{
	width: 20px;
	height: 50px;
	background: rgba(0,0,0,.1);
	display: block;
	color: #666;
	text-align: center;
	line-height: 50px;
	font-size: 20px;
	position: absolute;
	top: 50%;
	margin-top: -25px;
	font-style: normal;
	cursor: pointer;
}
.jdms-pre{
	left: 7px;
}
.jdms-next{
	right: 7px;
}

.jdms-content-right{
	float: right;
	/*border: 1px solid blue;*/
	width: 180px;
	height: 225px;
	overflow: hidden;
	position: relative;
}
.indlist{
	position: absolute;
	bottom: 10px;
	width: 100%;
	z-index: 1000;
	text-align: center;

}
.jdms-r-img{
	width: 360px;
	overflow: hidden;
	position: absolute;
}
.jdms-r-img img{
	float: left;
}
.indlist .indlistR{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #342A2D;
}
.indlistR.active{
	background: #E01222;
}